<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arifzyn API || DASHBOARD</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Arifzyn">
  <meta name="keywords" content="api, arifzyn api, arifzyn, Arifzyn API">
  <meta name="description" content="Arifzyn API adalah platform REST API yang handal dan mudah digunakan. Dengan antarmuka yang intuitif, pengguna dapat mengakses dan mengintegrasikan berbagai sumber daya data dengan mudah.">
  <meta property="og:title" content="Arifzyn API - Arifzyn">
  <meta property="og:description" content="Arifzyn API adalah platform REST API yang handal dan mudah digunakan. Dengan antarmuka yang intuitif, pengguna dapat mengakses dan mengintegrasikan berbagai sumber daya data dengan mudah.">
  <meta property="og:image" content="https://telegra.ph/file/be7f704ea601970402705.jpg">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="images/icon.png" type="" rel="icon">
  <link href="images/icon.png" type="" rel="shortcut icon">
  <link rel="stylesheet" href="../vendor/bootstrap-select/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="../vendor/chartist/css/chartist.min.css">
  <link rel="stylesheet" href="../vendor/owl-carousel/owl.carousel.css"> <!-- End Page level css : Dashboard  -->
  <link rel="stylesheet" href="../https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;family=Roboto:wght@100;300;400;500;700;900&amp;display=swap">
  <link rel="stylesheet" href="../css/style.css">

</head>

<body>
  <div id="main-wrapper">

    <%- include('./layout/navbar.ejs') %>
    <%- include('./layout/sidebar.ejs') %>

    <div class="content-body default-height ">
      <div class="container-fluid">

        <div class="page-titles">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">users</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">profile</a></li>
          </ol>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="profile card card-body px-3 pt-3 pb-0">
              <div class="profile-head"> 
                <div class="photo-content">
                  <div class="cover-photo"><img src="https://i.ibb.co/3zgG9t1/f24b8d1aa05e6f261d1c91abdbf50ecc.jpg" class="img-fluid" alt=""></div>
                </div>
                <div class="profile-info">
                  <div class="profile-photo">
                    <img src="<%= user.profile %>" class="img-fluid rounded-circle" alt="">
                  </div>
                  <div class="profile-details">
                    <div class="profile-name px-3 pt-2">
                      <h4 class="text-primary mb-0"><%= user.username %></h4>
                      <p>UX / UI Designer</p>
                    </div>
                    <div class="profile-email px-2 pt-2">
                      <h4 class="text-muted mb-0"><%= user.email %></h4>
                      <p>Email</p>
                    </div>
                    <div class="profile-email px-2 pt-2">
                      <h4 class="text-muted mb-0"><%= user.premium ? "Unlimited" : user.limit %></h4>
                      <p>Limit</p>
                    </div>
                    <div class="profile-email px-2 pt-2">
                      <h4 class="text-muted mb-0"><%= user.premium ? "Premium User" : "Free User" %></h4>
                      <p>Premium</p>
                    </div>
                    <div class="profile-email px-2 pt-2">
                      <h4 class="text-muted mb-0"><%= apikey %></h4>
                      <p>Apikey</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <footer class="footer">
      <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="http://github.com/ArifzynXD" target="_blank">Arifzyn
            API</a> 2023
        </p>
      </div>
    </footer>
  </div>

  <script src="../vendor/global/global.min.js"></script>
  <script src="../vendor/bootstrap-select/js/bootstrap-select.min.js"></script> <!-- Page level js :app-profile  -->
  <script src="../vendor/lightgallery/dist/lightgallery.min.js"></script>
  <script src="../vendor/lightgallery/dist/plugins/thumbnail/lg-thumbnail.min.js"></script>
  <script src="../vendor/lightgallery/dist/plugins/zoom/lg-zoom.min.js"></script> <!-- End Page level js : app-profile  -->
  <script src="../js/custom.min.js"></script>
  <script src="../js/deznav-init.js"></script>

</body>

</html>